.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
  min-width: 300px;
}

@media (min-width: 576px){
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 576px) {
  .card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}
