<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item h2"> <a class="text-decoration-none" routerLink="/address">Address</a></li>
      <li class="breadcrumb-item h3 active" aria-current="page">Edit</li>
    </ol>
  </nav>
</div>

<div class="jumbotron" *ngIf="address == null">
  <p class="lead">Address not found. Instead create new address</p>
  <!--<hr class="my-4">-->
  <a class="btn btn-primary btn-lg" role="button"  routerLink="/address/create">Create New Address</a>
</div>

<form (ngSubmit)="onUpdateAddress()" #f="ngForm" *ngIf="address != null">

  <input type="hidden" [(ngModel)]="address.id" name="id" required>

  <div class="form-group">
    <label for="line1">Address Line 1</label>
    <textarea class="form-control" id="line1" rows="3" [(ngModel)]="address.line1"
              name="line1" required></textarea>
  </div>

  <div class="form-group">
    <label for="line2">Address Line 2</label>
    <textarea class="form-control" id="line2" rows="3" [(ngModel)]="address.line2" name="line2" required></textarea>
  </div>


  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" placeholder="" [(ngModel)]="address.city" name="city" required>
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <input type="text" class="form-control" id="state" placeholder="" [(ngModel)]="address.state" name="state" required>
  </div>

  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" class="form-control" id="country" placeholder="" [(ngModel)]="address.country" name="country" required>
  </div>

  <div class="form-group">
    <label for="pin">Pin Code</label>
    <input type="number" class="form-control" id="code" placeholder="" [(ngModel)]="address.pin" name="code" required>
  </div>

  <div class="form-group">
    <label for="label">Address Label</label>
    <select class="form-control" id="label" [(ngModel)]="address.label" name="label" required>
      <option>HOME</option>
      <option>OFFICE</option>
      <option>OTHER</option>
    </select>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-sm btn-primary" [disabled]="!f.valid">Update</button>
  </div>

</form>
